@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="container">
        <div id="layout">
            <!-- Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link">
                <!-- Hamburger icon -->
                <span></span>
            </a>
            <div id="menu">
                <div class="pure-menu pure-menu-open">
                    <a class="pure-menu-heading" href="#">Menu</a>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Current Enrolments</a></li>
                        <li class="menu-item-divided pure-menu-selected">
                            <a href="#">Admin Functions</a>
                        </li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div id="main">
                <div class="header">
                    <h1>Tokomairiro Waiora Inc - Smoking Cessation</h1>
                    @*<h2>Smoking Cessation Application</h2>*@
                </div>
            </div>

            <div class="content">
                <div class="pure-g">
                    <div class="pure-u-1-2"></div>
                    <div class="pure-u-1-2">
                        <div id="sb-search" class="sb-search">
                            <form>
                                <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"></span>
                            </form>
                        </div>
                    </div>

                    @*<fieldset>*@
                    <div class="pure-u-1-2">
                        <h2>All Current Clients</h2>
                        <ul class="currentclientlist" id="client"></ul>
                    </div>
                    <div class="pure-u-1-2">
 
                        <h2>All Clients</h2>
                        <ul class="clientlist" id="allclient"></ul>
                    </div>

                    @*</fieldset>*@
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/classie.js"></script>
    <script src="/Scripts/uisearch.js"></script>
    <script>
        new UISearch(document.getElementById('sb-search'));
    </script>
</body>