@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="container">
        <div id="layout">
            <!-- Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link">
                <!-- Hamburger icon -->
                <span></span>
            </a>
            <div id="menu">
                <div class="pure-menu pure-menu-open">
                    <a class="pure-menu-heading" href="#">Menu</a>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Current Enrolments</a></li>
                        <li class="menu-item-divided pure-menu-selected">
                            <a href="#">Admin Functions</a>
                        </li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div id="main">
                <div class="header">
                    <h1>Tokomairiro Waiora Inc - Smoking Cessation</h1>
                    @*<h2>Smoking Cessation Application</h2>*@
                </div>
            </div>

            <div class="content">
                <div class="pure-g">
                    <fieldset>
                        <div class="container">
                            <div class="pure-u-1-3">
                                <h2>All Customers</h2>
                                <ul></ul>
                                <div id="client"></div>

                                <p></p>
                            </div>
                            <div class="pure-u-1-3">
                                <div id="displayhtmlnotes"></div>
                                <p></p>
                            </div>
                            <div class="pure-u-1-3">
                                <div id="addnotesbox"></div>
                                <p></p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
 </body>